body{
    font-family:Rubik;
    font-size:1.6em;
    line-height: 1.5;
    margin:0;
    background:#f2f5f7;
    filter:contrast()
}
*:focus{
    border:2px solid lightseagreen;
}
header{
    display:flex;
    width: 100%;
    height:100px;
    background:#89bdd6;
}
header h2{
    color:#184355;
    padding:0 10px;
    flex-grow: 2;
}
header nav{
    padding:10px;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}
header nav li{
    display:inline;
    list-style-type: none;
    padding:10px;
}
header nav li a{
    color:#29586c;
    text-decoration: none;
}
header nav li:hover{
    transition: all 0.2s ease-in-out;
    font-size:1.2em;
}
.main{
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
    "h h"
    "foto text";
    justify-content:center;
}
.main h3{
    grid-area: h;
    justify-self: center;
    color:#29586c;
}
.main img{
    grid-area: foto;
    width:90%;
    justify-self: center;
    align-self: center;
}
.main ul{
    grid-area:text;
    
}
.main ul li{
    padding:0.3em;
}
.forma{
    margin-top:30px;
    padding:15px;
    height:330px;
    background:#a9845c;
    color:#f2f5f7;
    line-height: 2;
    
}
.forma h3{
    text-align: center;
    color:#572313;
}
form{
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    justify-content:start;  
    grid-column-gap: 30px;
}
form label{
    padding:10px;
}    
form input{
    height:2.5em;  
}
#label-name{
    grid-row-start: 1;
    grid-row-end:2;
    grid-column-start:1 ;
    grid-column-end:2;
}
#label-mail{
    grid-row-start: 2;
    grid-row-end:3;
    grid-column-start:1 ;
    grid-column-end:2;
}
#name{
    width:25em;
    grid-row-start: 1;
    grid-row-end:2;
    grid-column-start:2 ;
    grid-column-end:3;
}
#mail{
    grid-row-start: 2;
    grid-row-end:3;
    grid-column-start:2 ;
    grid-column-end:3;
}
#button{
    grid-row-start: 3;
    grid-row-end:4;
    grid-column-start:1 ;
    grid-column-end:3;
    background-color:#6d6e41;
    border-color:#54552d;
    color:white;
    font-size:0.7em;
}