.main{
    width: auto;
    display:flex;
    flex-flow: row wrap;
    margin:0;
    font-family: Sarabun;
    background-color: #c6ccd8;
}
.main > * {
    flex: 1 100%;
  }
header{
    height:80px;
    background: #85a1c1;
}
.menu{
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    align-items: center;
    /* margin: 0;  */
    
}
.menu li{
    list-style: none;
    font-size:1.5em;
    padding:5px;
}
.menu a{
    text-decoration: none;
    color:white;
    padding: 1em;
}
.menu li:hover{
    background: #274b69;
}
.text{
    height:120px;
    display:flex;
    align-items: flex-end;
    justify-content: center;
    padding:10px;
    text-align: center;
}
.lists{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.list1 {
    padding:10px;
    flex-grow: 1;
    order:2;
}  
.list1 img{
    width:450px;
    height:550px;
}
.list2 {
    padding:10px;
    flex-grow: 2;
    order:1;
}
.list2 img{
    width:850px;
    height:550px;
}
.list3 {
    padding:10px;
    flex-grow: 1;
    order:3;
} 
.list3 img{
    width:350px;
    height:450px;
} 
.list4 {
    padding:10px;
    flex-grow: 2;
    order:4;
}
.list4 img{
    width:700px;
    height:450px;
}
footer {
    margin-top:20px;
    height:80px;
    background: #3f4d63;
    color:white;
    text-align: center;
}