body{
    font-family:Nunito Sans;
    font-size:1.4em;
    line-height: 1.5;
    margin:0;
    margin:0;
    padding:0;
    background:#a7b8b5;
}
$color_1:#082d3a;
$color_2: white;
$color_3: #b1a295;

%links{
    text-decoration: none;
}
@mixin paddings ($i) {
    padding: $i;
}
header{
    height:100px;
    background:$color_1;
    margin:-24px;
    nav{
        position: relative;
        top:25px;
    }
    ul{
       vertical-align: center;
    }
    li{
        list-style-type: none;
        display:inline;
        @include paddings(10px);
    }
    a{
        color:$color_2;
        @extend %links;
        &:hover{
            color:$color_3;
        }
    }
}