body{
    font-family:Nunito Sans;
    font-size:1.4em;
    line-height: 1.5;
    margin:0;
    padding:0;
    background:#a7b8b5;
}
$color_1:#082d3a;
$color_2: white;
$color_3: #b1a295;
$color_4:#000205;

%links{
    text-decoration: none;
}
// %topend{
//     height:100px;
//     background:$color_1;
//     color:$color_2;
// }
@mixin paddings ($i) {
    padding: $i;
}
header{
    // @extend %topend;
    height:100px;
    background:$color_1;
    color:$color_2;
    margin:-24px;
    width:101.5%;
        ul{
            position: relative;
            top:25px;
            left:25px;
            font-size: 1.1em;
            width:500px;
            li{
                list-style-type: none;
                display:inline;
                @include paddings(10px);
                    a{
                        color:$color_2;
                        @extend %links;
                            &:hover{
                                color:$color_3;
                            }
                    }
            }
        }
}
main{
    @include paddings (30px);
    .block{
        margin-top: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: auto;
        grid-template-areas:
        "img texts";
        grid-gap:20px;
        justify-content: center;
        img{
            grid-area: img;
            width:100%;
            padding-top:20px;
        }
        p{
            grid-area: texts;
            color:$color_4;
            align-self: center;
        }
    }
}
footer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px;
    justify-content: center;
    background:$color_1;
    color:$color_2;
    margin-top: 65px;
    @include paddings(0);
    h2{
        align-self: center;
        text-align: center;
        @include paddings(20px);
    }
}